@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --purple: #6F5FE7;
    --grey: #BABABA;
    --font: 'Inter', Arial, sans-serif;
    --bg: #131318;
    --hover-bt: #564ab8;
}

*{
    padding: 0;
    margin: 0;
} 
body{
    background-color: var(--grey);
    font-family: var(--font);
    color: white;
}
#banner{
    height: 200px;
    

}
#logomarca{
    right: 24px;
    position: absolute;
    top: 26%;

}

main{
    width: 375px;
    height: 867px;
    margin: auto;
    background-color: var(--bg);
    position: relative;

    
}
.container{
    padding: 0 24px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 34px;
    font-weight: 900;
    margin-top: 16px;
}
h2{
    font-size: 14px;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 24px;
}
span{
    font-size: 18px;
    color: var(--grey);
    font-weight: 400;
    margin: 8px 0;
}
p{
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}
h3{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0;
}
h4{
    color: var(--grey);
    font-weight: 900;

}
.texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.help{
    background-color: var(--purple);
    color: white;
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 100px;
}
.help:hover{
    background-color: var(--hover-bt);
}
.standard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.progress-bar{
    margin: 0;
    border: 1px solid grey;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;

}
#porcentagem{
    background-color: var(--purple);
    width: 50%;
    height: 6px;
}

button{
    height: 50px;
    border-radius: 100px;
    width: 130px;
    border-style: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    background-color: var(--bg);
    color: white;
    border: 1px solid #6F5FE7;
}
button:hover{
    background-color: black;

}
.buttons-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.qrCode{
    background-color: var(--purple);
    width: 50px;
    height: 50px;
}
.game{
    display: flex;
    gap: 50px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body, h2, h3, p, section, div, header {
    padding: 0;
    margin: 0 0 0 2px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;

    background: #131318;

    color: #FFF;
    font-family: "Hanken Grotesk", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0 1px;
}



.title > h2{
    color: #FFF;

    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;
    text-transform: uppercase;

    width: 145px;
    height: 13px;
}

.bg-image {
    width: 375px;
    height: 200px;

    z-index: 1;

    background-position: center center;
    background-size: cover;


}

.logo {
    width: 74px;
    height: 74px;

    background-color: #000;
    border-radius: 50%;
    
    fill: #000;
    stroke-width: 2px;
    stroke: #1C1D24;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    z-index: 2;

    position: relative;
    left: 120px;
    bottom: 40px;
}

section h2 {
    width: 198px;
    height: 62px;

    color: #FFF;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;

    margin-top: -40px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section span {
    width: 154px;
    height: 26px;

    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;

    opacity: 0.6;
}

section h3 {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.help {
    width: 29px;
    height: 29px;
    
    fill: #6F5FE7;
    stroke-width: 0.5px;
    stroke: #6F5FE7;
    
    border-radius: 50%;
    background-color: #6F5FE7;
    border: none;

    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    cursor: pointer;

    margin-top: 10px;
}

.standard {
    display: flex;
    flex-direction: column;

}

.standard h3 {
    display: flex;
    flex-direction: row;

}

.texto {
    display: flex;
    justify-content: space-between;

    margin-bottom: 8px;

}

.scores {
    margin-right: 104px;

    color: #FFF;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}

.progress-bar {
    width: 286px;
    height: 10px;
    
    border-radius: 2px;
    border: 0.5px solid #FFF;

}

section p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    opacity: 0.8;
}

.buttons-header {
    display: flex;
    column-gap: 16px;

    margin-top: 24px;
}

.branch, .myCoupons {
    width: 120px;
    height: 37px;

    text-align: center;
    border: 1px solid #6F5FE7;
    background: transparent;

    border-radius: 20px;
    
    cursor: pointer;

    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 90%;

    font-family: "Hanken Grotesk", sans-serif;
    color: #FFF;
}

.qrCode {
    width: 37px;
    height: 37px;
    border-radius: 20px;
    background: #6F5FE7;
    border: none;
    text-align: center;
} */
